/* ── Contact Section ── */
.contact-section {
  margin: auto;
  padding-bottom: 50px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
  background-color: var(--backgroundColor);
}

.contact-container {
  width: calc(100% - 25px);
}

.contact-section h3 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-flex h4 {
  font-weight: 500;
  margin: 0;
  opacity: 0.6;
  margin-top: 15px;
}

.contact-flex h4:first-child {
  margin-top: 0;
}

.contact-box {
  display: flex;
  flex-direction: column;
}

.contact-flex p,
.contact-flex ul {
  margin-top: 8px;
  margin-bottom: 15px;
}

.contact-flex ul {
  padding-left: 20px;
  list-style-type: disc;
  opacity: 0.8;
}

.contact-flex ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

a.contact-social {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.contact-box h2 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.contact-box h2 > span {
  color: var(--accentColor);
}

.contact-box h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  gap: 8px;
  opacity: 0.5;
}

.contact-flex p {
  margin-bottom: 0px;
  word-break: break-all;
}

/* ── 481px+ ── */
@media only screen and (min-width: 481px) {
  .contact-section h3 {
    font-size: 36px;
  }

  .contact-box h2 {
    font-size: 18px;
  }

  a.contact-social {
    font-size: 22px;
  }

  .contact-container {
    width: calc(100% - 40px);
  }

  .contact-flex p {
    word-break: normal;
  }
}

/* ── 768px+ ── */
@media only screen and (min-width: 768px) {
  .contact-section {
    margin-top: 80px;
    padding-bottom: 80px;
  }

  .contact-section h3 {
    font-size: 45px;
    margin-bottom: 25px;
  }

  .contact-flex {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .contact-flex h4 {
    margin-top: 20px;
  }

  .contact-box h2 {
    font-size: 18px;
  }

  a.contact-social {
    font-size: 22px;
  }

  .contact-container {
    width: calc(100% - 60px);
  }

  .contact-flex ul li {
    font-size: 16px;
  }
}

/* ── 1025px+ ── */
@media only screen and (min-width: 1025px) {
  .contact-section {
    margin-top: 100px;
    padding-bottom: 100px;
  }

  .contact-section h3 {
    font-size: 50px;
  }

  .contact-box h2 {
    font-size: 20px;
  }

  a.contact-social {
    font-size: 23px;
  }
}

/* ── 1400px+ ── */
@media only screen and (min-width: 1400px) {
  .contact-section h3 {
    font-size: 60px;
  }

  .contact-box h2 {
    font-size: 23px;
  }

  a.contact-social {
    font-size: 25px;
  }

  .contact-box h5 {
    font-size: 20px;
    line-height: 20px;
  }

  .contact-flex p,
  .contact-flex ul {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}